<div class="jumbotron jumbotron-fluid animated fadeIn fast">

    <div class="container">
        <h1 class="display-3">Authentication with twitteer</h1>
        <p class="lead">Application made to authenticate with twitter.</p>
    </div>


    <div class="col-md-12" style="text-align:center">

        <button type="button" (click)="Login()" class="btn btn-success"> 
            <i class="fa fa-twitter" aria-hidden="true"></i> 
            Authentication with con twitter
        </button>
    </div>

</div>